---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.nowpayments.io/v1/estimate?amount=1000&currency_from=usd&currency_to=btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 1234567-ABCDEFG-HIJKLMN-OPQRSTU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"currency_from":"usd","amount_from":1000,"currency_to":"btc","estimated_amount":0.01698585}'
  recorded_at: Fri, 19 Mar 2021 19:47:49 GMT
recorded_with: VCR 6.0.0
