---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.nowpayments.io/v1/payment
    body:
      encoding: UTF-8
      string: '{"price_amount":1000,"price_currency":"usd","pay_currency":"btc"}'
    headers:
      X-Api-Key:
      - 1234567-ABCDEFG-HIJKLMN-OPQRSTU
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"payment_id":"5231857091","payment_status":"waiting","pay_address":"sandBox_btc_address","price_amount":1000,"price_currency":"usd","pay_amount":0.01682986,"pay_currency":"btc","order_id":null,"order_description":null,"payin_extra_id":null,"ipn_callback_url":null,"created_at":"2021-03-19T20:23:11.152Z","updated_at":"2021-03-19T20:23:11.152Z","purchase_id":"4747543426"}'
  recorded_at: Fri, 19 Mar 2021 20:23:10 GMT
recorded_with: VCR 6.0.0
