---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.nowpayments.io/v1/payment/5231857091
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 1234567-ABCDEFG-HIJKLMN-OPQRSTU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"payment_id":5231857091,"payment_status":"confirmed","pay_address":"sandBox_btc_address","price_amount":1000,"price_currency":"usd","pay_amount":0.01682986,"actually_paid":0.01682986,"pay_currency":"btc","order_id":null,"order_description":null,"purchase_id":"4747543426","created_at":"2021-03-19T20:23:11.152Z","updated_at":"2021-03-19T20:28:00.070Z","outcome_amount":985.89742831,"outcome_currency":"usdc"}'
  recorded_at: Fri, 19 Mar 2021 20:29:05 GMT
recorded_with: VCR 6.0.0
